.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.card {
  display: flex;
  width: 15rem;
  height: 20rem;
  flex-direction: column;
  background-color: #ff0000;
  font-weight: 600;
  border: 0.25rem solid black;
}

.card p {
  padding-left: 0.5rem;
}
