.wrapper {
    display: flex;
    flex-wrap: wrap;
    min-width: 1280px;
    width: 100%;
    justify-content: center;
    align-content: space-between;
    gap:2rem;
}

.wrapper img {
    width: 250px;
    height: 250px;
}

.card {
    display: flex;
    width: 250px;
    flex-direction: column;
    background-color: #ff0000;
    height: 20rem;
    font-weight: 600;
    text-align: center;
}