.flexbox {
  display: flex;
  height: 100dvh;
}

.container-one {
  width: 50%;
}

.container-one h1 {
  font-size: 2.2rem;
  font-weight: 300;
  padding-bottom: 2.5rem;
}

.container-two {
  width: 50%;
  padding-top: 20px;
}

.bio-img {
  height: 425px;
}

.comic-container {
  display: flex;
}

.comic-container img {
  height: 270px;
}

.comic-container h1 {
  color: red;
  font-size: 1.1rem;
}
