.flexbox {
  display: flex;
  min-height: 100dvh;
}

.container-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding-top: 50px;
}

.container-one h1 {
  font-size: 2.2rem;
  font-weight: 300;
  padding-bottom: 2.5rem;
}

.container-one p {
  font-size: 1.3rem;
  font-weight: 200;
  width: 85%;
  padding-top: 20px;
}

.bio-img {
  height: 325px;
}

.comic-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  align-items: center;
}

.comic-container h1 {
  font-size: 1.1rem;
}

.comic-div {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comic-div img {
  height: 380px;
  width: 240px;
}

.comic-div h1 {
  font-size: 0.98rem;
  width: 85%;
}
