.flexbox {
  display: flex;
  flex-direction: column;
  min-height: 50dvh;
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-container-two {
  display: none;
  align-items: center;
  justify-content: center;
}

.error-img {
  width: 75rem;
}

.error-txt {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.error-txt h4 {
  font-size: 2.5rem;
}

.error-txt p {
  font-size: 1.3rem;
  font-weight: 500;
  width: 70%;
}
