@import url("https://fonts.googleapis.com/css2?family=Poly:ital@0;1&display=swap");

.footer {
  display: flex;
  flex-direction: column;
  background-color: #29335c;
  color: white;
  align-items: center;
  margin-top: auto;
}

.footer h1 {
  font-size: 15px;
}
