:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

.flexbox {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.hero-img {
  max-width: 2000px;
  height: 425px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(../assets/header-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  align-content: center;

}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eee;
}

.hero-text h1 {
  font-size: 10rem;
  font-weight: 200;
}

.hero-text h4 {
  font-size: 1.35rem;
  font-weight: 100;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
